.vscode
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl
*.log
*.tfvars
*.tfvars.json
*.tfvars.yaml
.terrformrc
.terraformrc
*.tfplan
*.tfplan.out
.terraform.tfstate.lock.info
src/lambda_function.zip
